## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Visual Studio
.vs/
*.vsidx
*.vssscc

.vscode/

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Test Results
TestResults/
*.trx
*.coverage
